.container-signin-login {
  display: flex;
  width: 100%;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

.containerPrincipal {
  border: 1px solid blue;
  background-color: white;
  padding: 40px;
}

.containerSecundario {
  text-align: center;
}