.container-signin {
    display: flex;
    width: 100%;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.containerPrincipal {
    border: 1px solid blue;
    background-color: white;
}

.containerSecundario {
    text-align: center;
}